%form{ action: sessions_path, method: 'post' }
  %label{ for: '#email' } Email:
  %input#email{ type: 'text', name: 'user[email]', value: params[:user][:email] }
  %label{ for: '#password' } Password:
  %input#password{ type: 'password', name: 'user[password]' }
  %br
  %button.btn.btn-primary#signin{ type: 'submit' }
    Sign in
